.panel {
    margin-top: 1rem;
    
    display: flex;
    align-items: center;
    justify-content: center; 
}

.square {
    height: 9.38rem;
    width: 9.38rem;
    border: 1px solid #000000;
    background-color: #1aeaa5;
}

.enemy {
    background-image: url(../images/ralph.png);
    background-size: cover;
}