@import url(../../../index.css);

.game-painel {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.667), rgba(0, 0, 0, .6)), 
    url('../../../assets/imgs/mobile/bg-tela-dos-quadrados.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.time , .life{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #eceaeaee;
    text-shadow: 0 5px 2px #000;
    user-select: none;
  
}

.clock {
    color: #03AEF8;
    filter: drop-shadow(0 5px 2px #000);
    user-select: none;
}

.clock-n {
    color: #149ae8;
    user-select: none;
}

.heart {
    color: #ff0000;
    filter: drop-shadow(0 5px 2px #000);
    user-select: none;
}

.number-heat {
    color: #ff0000;
    user-select: none;
} 


.painel-player {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #eceaeaee;
    text-shadow: 0 5px 2px #000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.667), rgba(0, 0, 0, .6)), 
    url('../../../assets/imgs/mobile/bg-tela-dos-quadrados.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50px;
    border-bottom: 2px solid  #03aff8aa;
    user-select: none;
}

.score {
    font-size: 1.4rem;
    color: #ffff00;
    filter: drop-shadow(0 5px 2px #000);
    user-select: none;
}

.number-score {
    color: #ffff00;
    user-select: none;
}