.score-container {
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#ffffff54, #ffffff18), 
    url('../../../src/assets/imgs/mobile/bg-tela-do-painel-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .painel {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding: 0 10px;
        border-radius: 5px;


        .box-painel {
            height: 250px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            padding: 5px 10px;

            .player {
                width: 200px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .name-player {
                    color: transparent; 
                    width: 135px;
                    height: 100%;
                    font-size: 1.6rem;
                    user-select: none;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: end;
                    padding: 15px 0;
                    background-image: linear-gradient(to bottom, #00FFFF, #FF00FF);
                    background-clip: text;
                    -webkit-text-stroke: 1px #00FFFF; 
                    text-shadow:
                      0 0 5px #00FFFF,
                      0 0 10px #00FFFF,
                      0 0 15px #FF00FF,
                      0 0 20px #FF00FF;
                  }


                .box-player-score{
                    height: 100%;
                    display: flex;
                    align-items: center;
                    filter: drop-shadow(1px 3px 1px #000000ca);
                }
    
                .trophy {
                    width: 100px;
                    height: 100%;
                    font-size: 1.5rem;
                    color: #FFD700;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    user-select: none;
                  }
                  
                  .trophy .box-player-score {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    filter: drop-shadow(1px 3px 1px #000000ca);
                    color: #FFD700;
                    text-shadow:
                      0 0 0px #FFD700,
                      0 0 2px #FFD700,
                      0 0 2px #FFFF00,  
                      0 0 10px #FFFF00; 
                  }
                  
                  .trophy svg {
                    filter: drop-shadow(0 0 0px #FFD700)
                            drop-shadow(0 0 1px #FFD700)
                            drop-shadow(0 0 15px #FFFF00); 
                  }

                  .medal-bronze {
                    width: 100px;
                    height: 100%;
                    font-size: 1.4rem;
                    color: #C0C0C0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    filter: drop-shadow(2px 5px 2px #000000ca);
                    user-select: none;
                  }
                  
                  .medal-bronze .box-player-score {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    color: #C0C0C0;
                    text-shadow:
                      0 0 0px #C0C0C0,
                      0 0 2px #C0C0C0,
                      0 0 2px #D3D3D3,
                      0 0 10px #D3D3D3;
                  }
                  
                  .medal-bronze svg {
                    filter: drop-shadow(0 0 0px #C0C0C0)
                            drop-shadow(0 0 1px #C0C0C0)
                            drop-shadow(0 0 10px #D3D3D3);
                  }
    
                  .medal-prata {
                    width: 100px;
                    height: 100%;
                    font-size: 1.4rem;
                    color: #CD7F32;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    filter: drop-shadow(2px 5px 2px #000000ca);
                    user-select: none;
                  }
                  
                  .medal-prata .box-player-score {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    color: #CD7F32;
                    text-shadow:
                      0 0 0px #CD7F32,
                      0 0 2px #CD7F32,
                      0 0 2px #DEAA87, 
                      0 0 10px #DEAA87;
                  }
                  
                  .medal-prata svg {
                    filter: drop-shadow(0 0 0px #CD7F32)
                            drop-shadow(0 0 1px #CD7F32)
                            drop-shadow(0 0 15px #DEAA87);
                  }
    
                
            }

        }



        

    }

    .btn {
        box-shadow:  5px 5px 5px #000;
        
        .btn-box {
            border: none;
            padding: 10px 20px;
            background: url(../../assets/imgs/mobile/bg-tela-dos-quadrados.png) no-repeat center;
            background-size: cover;
            border-radius: 5px;
            box-shadow: inset 0px 0px 10px #000;
            transition: transform 0.1s ease;
            outline: 2px solid #000;

            .btn-text {
                font-weight: 500;
                color: #f2e5e5;
                font-size: 1.2rem;
                padding: 10px 0;
                font-family: var(--font-detona-ralph);
                user-select: none;
            }
        }

        .btn-box:active{
            transform: translateY(2px);
        }

    }

}

